VITE_SUPABASE_URL=https://rsszyvomwndrmjzoaezt.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_tTuPIVnYKyIIWfRbTqT3UA_Yqu6koSy...
VITE_N8N_WEBHOOK_BOAS_VINDAS=
VITE_NOME_EVENTO=Encontro Pepê Collaço 2026
VITE_ACCESS_CODE=senhaDoOperador